/* [ON BIG SCREEN] */
/* Wrapper */
.navbar {
  width: 100%;
  background: teal;
  top: 0;
  color: lightgray;
  position
}
.nav-link {
  color: lightgray;
  font-size:1.5vw;
  padding: 16px;
  top: 0;
}
.navbarDropdown {
  color: lightgray;
  top: 0;
}
.navbar-header {
  display: inline-block;
  top: 0;
}

.navbar-brand {
  color:lightgray;
  font-size:1.5vw;
}
.nav {
  color:lightgray;
  top: 0;
}

.navbar-left {
  display:left;
  top: 0;

}

.navbar-right {
  display:right;
  top: 0;

}
@media only screen and (min-width: 900px) {
  .navbar-toggler {
    display:none;
  }}

  .fa-1x {
    font-size: 1.5rem;
    }
    .navbar-toggler.toggler-example {
    cursor: pointer;
    }



.dropbtn {
  background-color: teal;
  color: white;
  padding: 16px;
  font-size: 16px;

  }

  .dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    color: teal;
    background-color: lightgrey;
    min-width: 200px;
    z-index: 1;
    font-size:1vw;

}

.dropdown-content a {
  color: teal;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}
.dropdown-content a:hover {background-color: white; }
.dropdown:hover .dropdown-content {display: block; }
.dropdown:hover .dropbtn {background-color: grey;}

    body {
      background-color: gainsboro;
    }
    img {
    float: center;
    height: 75%;
    width: 75%;
    }

    .container1 {
      width: 45%;
      background-color: white;
      margin-left: 200px;
      margin-top: 50px;
    }
    .container2 {
      float:left;
      justify-content: center;
      width: 75%;
      background-color: white;
      margin-top: 3%;
      margin-left: 10%;
      display:
    }
    @media (max-width: 1250px) {
    .container2{
        width:75%;
    }
}

@media (mid-width: 992px) {
    .my-custom-container{
        width:720px;
    }
}

@media (min-width: 800px) {
    .my-custom-container{
        width:600px;
    }
}
    h1 {
      color:#45B39D;
      font-family: Arial, Helvetica, sans-serif;
      font: bold;
      border-bottom: 1vw solid lightgray;
      margin: 10px 10px 10px 10px;
    }
    h2 {
      color:#45B39D;
      font-family: Arial, Helvetica, sans-serif;
      font: bold;
      font-size: 2vw;
      border-bottom: 1px solid lightgray;
      margin: 10px 10px 10px 10px;
    }
    h3 {
      color:#45B39D;
      font-family: 'Times New Roman', Times, serif;
      font-weight:bold;
      font-size: 1.9vw;
      text-align: left;
      margin: 50px 155px 0 0;
    }
    p {
      color: #0E6655;
      font-family: Arial, Helvetica, sans-serif;
      margin: 4px 16px 0 16px;
      text-align: justify;
      font-size: 1vw;
    }
